@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border:1px solid palevioletred ;

} 

main {
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
     width: 100%; 
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    background-color: #fff;
 

 }
a {
    text-decoration: none;
} 
img{
    max-width: 100%;
}

nav{
    display: flex;
    max-width: 100%;
    max-width: 1300px;
     margin: 0 auto; 
    justify-content: space-between; 
}
ul {
    display: flex;
    list-style: none;
  
}
.logo{
    display: flex;
    align-items: center;
    gap:20px;
}
.logo a {
     position: relative; 
    color: black;
    font-size: 20px;
}
 .logo > a {
    margin-right: 100px;
} 
nav a {
    position: relative; 
    margin-left: 0px;
    color: black;
    font-size: 20px;
    transition: 0.3s;
}
nav a:hover {
    color: rgb(158, 163, 163);
}


.get{
    display: flex;
    flex-direction: column;
}
.info{
    margin-top: 120px;
    width: 100%;
}
.info h1{
text-align: center;
font-size: 50px;

}
.info div{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 150px; */

}
.info div img{
    width: 100%;
    
}
.info div p{
    font-size: 20px;

}
.info div div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.blog-1{
    margin-top: 90px;
    display: flex;
    /* flex-wrap: wrap; */
    /* gap: 50px; */
    background-color:#FFE39A;
    padding-top: 50px;
    width: 100%;
}
.box-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    flex-basis: 50%;

}
.box-1-img{
    max-width: 100%;
}
.texte-1{
    font-size: 60px;
}
.paragraphe-1{
    font-size: 30px;
}
.form-1{
    display: flex;
    flex-direction: column;
    border-radius: 5px;

}
.form-1> h1{
    margin-top: 15px;
    font-size: 60px;
    text-align: center;
    color: rgb(37, 37, 37);
    margin-bottom: 10px;
}
.label{
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: rgb(48, 46, 46);
}
.int-1{
   border: 2px;
   width: 850px;
   height: 75px;
   border-radius: 5px;
   margin-bottom: 30px;
   margin-inline: auto;
   padding: 10px;
   margin-left: 20px;
  
}
textarea{
    border: 2px;
   width: 850px;
   height: 250px;
   border-radius: 5px;
   margin-bottom: 50px;
   margin-inline: auto;
   font-size: 20px;
   padding: 10px;
   margin-left: 20px;
}

.int-2{
    border: 2px;
    width: 170px;
    height: 75px;
    border-radius: 5px;
    margin-bottom: 30px;
    color:#0a0a0a;
    font-size: 30px;
    font-weight: 600;
    margin-left: 220px;
    transition: ease .20s;
    cursor: pointer;
    margin-inline: 340px;
    background-color: white;

}
.int-2:hover{
    transform: scale(1.1);
    background-color: rgb(177, 184, 189);
}
.wrapper{
    background-color: #F4ECE5;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(350px, auto));
    align-items: center;
    
} 
 .container{
    background-color: white;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-evenly;
   padding-top: 40px ;
   padding-bottom: 40px ;
   padding-left: 60px ;
   padding-right: 60px ; 
   gap: 80px;
} 

.input-1{
    background-color: #D4DAE2;
    padding: 16px;
    width: 250px;
    border: #fff;
    border-radius: 10px;

}
.input-2{
    background-color:#DB4A87;
    padding: 16px;
    width: 100px;
    border: #fff;
    border-radius: 5px;
    color: #fff;
    font-weight:700;
    

}
.div-sub{
    margin-bottom: 15px;
}
.input-3[type="checkbox"] {
    width: 15px;
    height: 15px;
  }
footer{
    margin-top: 60px;
} .foot{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 80px;
   
}
.list{
    display: flex;
    flex-direction: column;
    
}
.logo-2{
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.logo-2 a {
    color: black;
    font-size: 20px;
}
 .main{
    color: black ;
     font-size: 20px;
    
 }
.lien{
    color: black;
    line-height: 2;
} 

.site{
    display: flex;
    align-items: center;
    gap:20px;
} 


@media (max-width:600px) {
    .header{
        padding-left:15px ;
    }
    .info{
        margin-top: 120px;
    }
    .info h1{
        font-size: 30px;
        
        }
    .info div{
        margin-top: 20px;
        flex-direction: column;
        
    }
    
    .box-1{
        display: none;
    } 
    .texte-1{
        font-size: 30px;
    }
    .paragraphe-1{
        font-size: 20px;
    }
    .form-1{
        width: 100%;
        gap: 10px;
    }
    .form-1> h1{
        font-size: 20px;
       
    }
    .label{
        font-size: 14px;
        margin-left: 20px;

    }
    .int-1{
       border: 2px;
       width: 350px;
       height: 50px;
        margin-left: 20px;
        }
    textarea{
        border: 2px;
        width: 350px;
        height: 150px;
        font-size: 20px;
        margin-left: 20px;
    }
    
    .int-2{
        width: 100px;
        height: 50px;
        font-size: 20px;
        font-weight: 500;
        margin-left: 20px;
        
    }
     .wrapper div img{
    display: none;
} 

     .container{
    background-color: #F4ECE5;
    gap: 20px;
}
   .input-1{
        margin-bottom: 10px;
    }
    .input-2{
        padding: 10px;
        font-weight:500;
    }
    .foot {
        justify-content: space-between;
        gap: 30px;
        }
        .list1{
            width: 100%;
            margin-inline: 50px;
    
        }
        .list{
            padding-left: 10px;
            width: 40%;
        } 
     
}
@media (max-width:1000px) {
    .wrapper div img {
        display: none;
    }
    .container {
        background-color: #F4ECE5;
        gap: 20px;
    }
    .wrapper{
        display: block;
    }
}
@media (max-width:1500px){

 .box-1{
        display: none;
    } 
}
@media (max-width:860px){
    .form-1{
        width: 100%;
        gap: 10px;
    }
    .form-1> h1{
        font-size: 20px;
       
    }
    .label{
        font-size: 14px;
        margin-left: 20px;

    }
    .int-1{
       border: 2px;
       width: 350px;
       height: 50px;
        margin-left: 20px;
        }
    textarea{
        border: 2px;
        width: 350px;
        height: 150px;
        font-size: 20px;
        margin-left: 20px;
    }
    
    .int-2{
        width: 100px;
        height: 50px;
        font-size: 20px;
        font-weight: 500;
        margin-left: 20px;
        
    }

   }
