@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
   
} 
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    background-color: #fff;
 }

a {
    text-decoration: none;
} 
img{
    max-width: 100%;
}
nav{
    display: flex;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    justify-content: space-between; 
}
.logo{
    display: flex;
    align-items: center;
    gap:20px;
}
.logo a {
    position: relative;
    color: black;
    font-size: 20px;
}
.logo > a {
    margin-right: 100px;
}

ul {
    display: flex;
    list-style: none;
}

li{
    padding-left: 30px;
}

nav a {
     position: relative; 
    margin-left: 0px;
    color: black;
    font-size: 20px;
    transition: 0.3s;
}
.burger{
    display: flex;
    gap: 60px;
    align-items: center;
}
nav a:hover {
    color: rgb(156, 160, 160);
}
.get{
    display: flex;
    flex-direction: column;
}
.menu div{
      width: 25px;
      height: 3px;
      background-color: rgb(75, 71, 71);
      margin: 5px;

      
}
.menu{
    cursor: pointer;
    display: none;
    align-items: center;
    margin-left:90px ;
}
.info{
    padding-top: 120px;
} 
.info h1{
text-align: center;
font-size: 50px;

}
.source{
    margin-top: 40px;
    display: flex;
    /* padding-top: 70px; */
    align-items: center; 
    justify-content: space-evenly;
    /* gap: 150px; */

}
.link1 img{
    width: 100%;
    
}
.link1 p{
    font-size: 20px;

}
.link1{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.blog-1{
    margin-top: 90px;
    display: flex;
     /* flex-wrap: wrap; 
    gap: 50px;  */
    justify-content: center;
    background-color:#FFE39A;
    padding-top: 50px;
    width: 100%;
  
}
.box-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    flex-basis: 50%;

}
.box-1-img{
    max-width: 100%;
}
.texte-1{
    font-size: 60px;
}
.paragraphe-1{
    font-size: 30px;
}
.form-1{
    display: flex;
    flex-direction: column;
    border-radius: 5px;

}
.form-1> div{
    margin-inline: 20px;
}
.form-1> h1{
    margin-top: 15px;
    font-size: 60px;
    text-align: center;
    color: rgb(37, 37, 37);
    margin-bottom: 10px;
}
.label{
    width: 100%;
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(48, 46, 46);
}
.int-1{
    border: none; 
   width: 600px;
   height: 50px;
   border-radius: 5px;
   margin-bottom: 30px;
   margin-inline: auto;
   padding: 10px;


  
}
textarea{
    border: none;
   width: 600px;
   border-radius: 5px;
   margin-bottom: 50px;
   margin-inline: auto;
   font-size: 20px;
   padding: 10px;

}

.int-2{
    font-size: 14px;
    border: none;
    width: 170px;
    height: 70px;
    border-radius: 5px;
    margin-bottom: 30px;
    color:#0a0a0a;
    font-size: 30px;
    font-weight: 600;
    transition: ease .20s;
    cursor: pointer;
    background-color: white;

}
.int-2:hover{
    transform: scale(1.1);
    background-color: rgb(177, 184, 189);
}
.wrapper{
    background-color: #F4ECE5;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(350px, auto));
    align-items: center;
    
} 
 .container{
    background-color: white;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-evenly;
   padding-top: 40px ;
   padding-bottom: 40px ;
   padding-left: 60px ;
   padding-right: 60px ; 
   gap: 80px;
} 

.input-1{
    background-color: #D4DAE2;
    padding: 16px;
    width: 250px;
    border: #fff;
    border-radius: 10px;

}
.input-2{
    background-color:#DB4A87;
    padding: 16px;
    width: 100px;
    border: #fff;
    border-radius: 5px;
    color: #fff;
    font-weight:700;
    

}
.div-sub{
    margin-bottom: 15px;
}
.input-3[type="checkbox"] {
    width: 15px;
    height: 15px;
  }
footer{
    margin-top: 60px;
} .foot{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 80px;
   
}
.list{
    display: flex;
    flex-direction: column;
    
}
.logo-2{
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.logo-2 a {
    color: black;
    font-size: 20px;
}
 .main{
    color: black ;
     font-size: 20px;
    
 } 
.lien{
    color: black;
    line-height: 2;
} 

.site{
    display: flex;
    align-items: center;
    gap:20px;
} 


@media (max-width:600px) {
    .header{
        padding-left:15px ;
    }
    .burger{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgba(255, 203, 203, 0.934);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: auto;
        transform: translateX(100%) ;
        transition:0.5s ease-in

    }
    .nav-links{
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        margin: auto;

    }
    
    .menu{
        display: block;

    }

    .nav-active{
        transform: translateX(0%) ;
    }
    .info{
        margin-top: 20px;
    }
    .info h1{
        font-size: 30px;
        
        }
    .info div{
        margin-top: 20px;
        flex-direction: column;
        
    }
    
    .box-1{
        display: none;
    } 
    .texte-1{
        font-size: 30px;
    }
    .paragraphe-1{
        font-size: 20px;
    }
    .form-1{
        width: 100%;
        gap: 10px;
    }
    .form-1> h1{
        font-size: 20px;
       
    }
    .label{
        font-size: 14px;
        margin-left: 20px;

    }
    .int-1{
       border: 2px;
       width: 300px;
       height: 30px;
        margin-left: 20px;
        }
    textarea{
        border: 2px;
        width: 300px;
        height: 150px;
        font-size: 20px;
        margin-inline: 20px;
    }
    
    .int-2{
        width: 100px;
        height: 50px;
        font-size: 20px;
        font-weight: 500;
        margin-left: 20px;
        
    }
     .wrapper div img{
    display: none;
} 

     .container{
    background-color: #F4ECE5;
    gap: 20px;
}
   .input-1{
        margin-bottom: 10px;
    }
    .input-2{
        padding: 10px;
        font-weight:500;
    }
    .foot {
        justify-content: space-between;
        gap: 30px;
        }
        .list1{
            width: 100%;
            margin-inline: 50px;
    
        }
        .list{
            padding-left: 10px;
            width: 40%;
        } 
     
}
@media (max-width:900px) {
    .box-1 {
        display: none;
    }
    .container {
        background-color: #F4ECE5;
        gap: 20px;
    }
    .wrapper{
        display: block;
    }
}
